
html,body {
    height: 100%;
}

.cover {
    display: table;
    width: 100%;
    height: 100%;
}

.cover-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}


.cover-contents {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 80px 60px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    border-radius: 12px;
}
.cover-contents h2 {
    font-size: 50px;
    margin-bottom: 60px;
    font-weight: bold;
    color: #673AB7;
}
.cover-contents h4 {
    font-size: 17px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 45px;
}
.cover-contents .btn {
    border-radius: 50px;
    padding: 8px 24px 10px;
    font-size: 18px;
    font-weight: 100;
}





@media only screen and (max-width: 768px) {
  .cover-contents {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 80px 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 12px;
    }
  .cover-contents h2 {
    font-size: 30px;
    margin-bottom: 30px;
  } 
}